<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
</head>

<body>
    <!-- Header -->
    <header id="i-header">
        <div class="container">
            <div class="row mediaq py-2">
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 mediaq">
                    <h4 class="my-3"><span class="logo">WE</span><span class="logo2">connect</span></h4>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 align-self-center">
                     <nav id="navbar">
                         <ul class="p-2 py-2 my-top">
                             <li class="current"><a href="./index.html">Home</a></li>
                             <li><a href="#">About</a></li>
                             <li><a href="./signup.html">Register</a></li>
                             <li><a href="./login.html" class="btn app-buttons btn-sm" >SignIn</a></li>
                         </ul>   
                     </nav>
                </div>
            </div> <!-- End of row -->
        </div> <!-- END OF CONTAINER -->

    </header> <!-- End of header -->
    <!-- End of header -->

    <!--- Index Showcase -->

    <section>
        <div class="container">

            <div class="row align-items-center py-5">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h1 class="my-5 float-right" id="rating">3.7</h1>

               </div>


                <div class="col-sm-6 col-md-7 col-lg-7 text-center">

                    <h1 id="index-header">SEARCH. REVIEW. DECIDE</h1>
                    <!-- card -->
                    <div class="card" style="width: 30rem;">
                        <img class="card-img-top" src="./img/logo5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build </p>
                        </div>
                    </div>
                    <!-- Inline form-->

                    <!--Commend -->

                    <div class="card my-3">
                            <div class="card-header">
                              Featured
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Username - 03/02/18 15:32</h5>
                              <form action="" class="form-in">

                                    <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Example textarea</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                          </div>
                                    
                                          <div class="form-group">
                                                <label for="rate">Rate</label>
                                                <select class="form-control" id="rate">
                                                  <option>1</option>
                                                  <option>2</option>
                                                  <option>3</option>
                                                  <option>4</option>
                                                  <option>5</option>
                                                </select>
                                              </div>

                              </form>
                              <a href="#" class="btn app-buttons">Comment</a>
                            </div>
                          </div>

                </div>
                <div class=" col-sm-3 col-md-2 col-lg-2">
                    <h3>Busines</h3>
                    <br>
                    <p>Description of the business</p>
                </div>
            </div>

    </section>

    <!--# Index Showcase -->



    <!-- Business -->
    <section id="business-info">
        <div class="container">
            <div class="row">
                <div class=" col-sm-12 col-md-4 col-xl-4 col-lg-4">
                    <h5>Contact us</h5>
                    <br>
                    <i class="fa fa-phone"> 0802-5784434</i>
                    <br>
                    <i class="fa fa-envelope"> klevamane@gmail.com</i>
                    <br>

                </div>
                <div class="col-sm-12 col-md-4 col-xl-4 col-lg-4">
                    <h5>About Us</h5>
                    <br>
                    <p class="text-justify">WEconnect is a global powerhouse in business and technology transformation, Located in Nigeria with 5
                        Offices and over 23 Business locations We help businesses, meet the needs of their clients by reviews
                        and receiving feedback which in turn helps businesses tailor their resources to their clients needs
                        and enhance
                </div>
                <div class=" col-sm-12 col-md-4 col-xl-4 col-lg-4">
                    <h5>Business</h5>
                    <br> Making your business better, is what we do
                    <p></p>

                </div>
            </div>
        </div>
    </section>
    <!-- END OF COMPANY SECTION -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p>Copyright 2018 @klevamane - Cycle 30</p>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </footer>

</body>

</html>