<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

       <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">

    <title>Client meets busines</title>

</head>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="logo">
                    <a href="#">
                        WEconnect
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">My Business</a>
                </li>
                <li>
                    <a href="#">Create Business</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                
                <header class="row" id="main-content-header">
                    <div class=" col-12">
                    <a href="#menu-toggle" class="btn btn-secondary fa fa-bars" id="menu-toggle"></a>
                    <span><i class=" fa fa-search my-5"></i> </span>
                    </div>

                </header>
                <div class="row px-5">
                    <div class="col-sm-4 col-md-4">
                        <h5>Dashboard</h5>

                    </div>
                    <div class="col-sm-4 col-md-4"></div>
                    <div class="col-sm-4 col-md-4"></div>
                </div>
                
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- </wrapper -->

    
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/holder.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    
    <!-- Toggle script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>
    

</body>

</html>
