<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">

    <title>SignIn</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class=" col-2 col-sm-2 col-md col-lg-4 col"></div>

        <div class=" col-8 col-sm-8 col-md-6 col-lg-4 col">
            <!--CARD-->
                <div class="card my-6 py-4">

                    <div class="card-body" style="padding-bottom:30px">
                            <h5 class="card-title"><span class="logo">WE</span><span class="logo2">connect</span>
                            <a href="./index.html">
                             <span class=" float-right text-muted my-1">Home</span><i class="fa fa-arrow-circle-o-left float-right sign-color" aria-hidden="true"></i>
                            </a>
                        </h5>
                        <hr/>
                        <form action="./dashboard.html" class="form-in">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="" required>
                                <small id="emailHelp" class="form-text text-muted">Secured login</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="" required>
                            </div>

                            <button type="submit" class="btn app-buttons btn-block">SignIn <i class=" fa fa-arrow-right"></i></button>
                          <span class="">  <a href="#forgot_password" class="float-right my-top app-primary-color" data-toggle="collapse">Forgot Password?</a></span>

                        </form>
                        <div class="collapse my-5" id="forgot_password">
                            <form class="form-group form-in">
                                <input type="email" class="form-control" placeholder="">
                                <p></p>
                                <button type="submit" class="btn app-buttons btn-block my-1">Reset</button>
                            </form>
                          </div>
                        </div>
                      </div>

                       <!-- END OF CARD-->
                      <div class="col-2 col-sm-2 col-md col-lg-4 col"></div>
                    </div>
                    <!-- END OF MID-DIV- -->
                  </div>
                </div>

    <!-- SCRIPTS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/holder.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>
