<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
</head>
<body>

    <!-- Header -->
    <header id="i-header">
        <div class="container">
            <div class="row mediaq">
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 mediaq">
                    <h4 class=" my-3"><span class=" logo">WE</span><span class="logo2">connect</span></h4>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 align-self-center">
                     <nav id="navbar">
                         <ul class=" p-2">
                             <li class="current"><a href="#">Home</a></li>
                             <li><a href="#">About</a></li>
                             <li><a href="#">Contact Us</a></li>
                             <li><a href="./signup.html">Register</a></li>
                             <li><a href="./login.html" class="btn app-buttons btn-sm" >SignIn</a></li>
                         </ul>
                         
                     </nav>
                </div>
            
            </div> <!-- End of row -->
        </div> <!-- END OF CONTAINER -->

    </header> <!-- End of header -->

  <!--- Index Showcase -->

  <section>
        <div class="container">
            
                <div class="row align-items-center py-5">
                        <div class=" col-sm-3 col-md-2 col-lg-2">
                            
                        </div>
                        <div class=" col-sm-6 col-md-8 col-lg-8 text-center">
                            <h1 id="index-header">SEARCH. REVIEW. DECIDE</h1>
                            
                            <!-- Inline form-->
                            <form class="form-in">
                                    <div class="form-row align-items-center">
                                            <div class="col">
                                                    <label class="sr-only" for="search-business">Search business</label>
                                                    
                                                    <select class="form-control mb-2" id="exampleFormControlSelect1">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                          </select>
                                            </div>
                                     
                                        <div class="col">
                                        <label class="sr-only" for="search-business">Search business</label>
                                        <input type="text" class="form-control mb-2" id="search-business" placeholder="Search business">
                                      </div>
                                      <div class="col">
                                        <label class="sr-only" for="location">location</label>
                                        <div class="input-group mb-2">
                                          <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-globe"></i></div>
                                          </div>
                                          <input type="text" class="form-control" id="location" placeholder="location">
                                        </div>
                                      </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn app-buttons mb-2">Search <i class="fa fa-search"></i></button>
                                      </div>
                                    </div>
                                  </form>
                            <!--# Inline form -->

                        </div>
                        <div class=" col-sm-3 col-md-2 col-lg-2"></div>
        
                    </div>
            
           
    </section>

  <!--# Index Showcase -->

  <!-- Index Feature -->
    <section>
        <div class=" container">
           <!-- Card row 1-->
            <div class="row">
                <div class=" col-md-4">
                        <div class="card" style="width: 18rem;">
                             <a href="./business.html"><img class="card-img-top" src="./img/logo5.jpg" alt="Card image cap"></a> 
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build</p>
                                </div>
                              </div>
                </div> 
                <div class=" col-md-4">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="./img/logo5.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build.</p>
                                </div>
                              </div>
                </div> 
                <div class=" col-md-4">
                      <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="./img/logo5.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build </p>
                                </div>
                              </div>
                </div> 
            </div>
            <!--#row -->

            <!-- row 2-->

            <div class="row my-4">
                    <div class=" col-md-4">
                            <div class="card" style="width: 18rem;">
                                 <a href="./business.html"><img class="card-img-top" src="./img/logo5.jpg" alt="Card image cap"></a> 
                                    <div class="card-body">
                                      <p class="card-text">Some quick example text to build</p>
                                    </div>
                                  </div>
                    </div> 
                    <div class=" col-md-4">
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="./img/logo5.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">Some quick example text to build.</p>
                                    </div>
                                  </div>
                    </div> 
                    <div class=" col-md-4">
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="./img/logo5.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">Some quick example text to build </p>
                                    </div>
                                  </div>
                    </div> 
                </div>

            <!--#row 2-->

        </div>
    </section>
  <!-- #Index Feature -->

  <!-- Business -->
  <section id="business-info">
        <div class="container">
            <div class="row">
                <div class=" col-sm-12 col-md-4 col-xl-4 col-lg-4">
                    <h5>Contact us</h5>
                    <br>
                    <i class="fa fa-phone"> 0802-5784434</i>
                    <br>
                    <i class="fa fa-envelope"> klevamane@gmail.com</i>
                    <br>
                    
                </div>
                <div class=" col-sm-12 col-md-4 col-xl-4 col-lg-4">
                    <h5>About Us</h5>
                    <br>
                    <p class=" text-justify">WEconnect is a global powerhouse in business and technology transformation, Located in Nigeria with 5 Offices and over 23 Business locations
                    We help businesses, meet the needs of their clients by reviews and receiving feedback which in turn helps businesses tailor their resources to their clients needs
                    and enhance
                </div>
                <div class=" col-sm-12 col-md-4 col-xl-4 col-lg-4">
                    <h5>Business</h5>
                    <br> Making your business better, is what we do
                    <p></p>

                </div>
            </div>
        </div>
    </section>
<!-- END OF COMPANY SECTION -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><p>Copyright 2018 @klevamane - Cycle 30</p></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </footer>  

  </body>
  </html>
    
   
   